{% extends 'public/base/base.html'%}
{% block style%}    
<link href="static/css/table.css" rel="stylesheet">
<link href="static/css/home.css" rel="stylesheet">
<link href="static/css/menu.css" rel="stylesheet">


{%endblock%}
{%block title%}home{%endblock%}


{%block main%}

    <h3 class="live">LIVE</h3>

<section class="content-area">
    <section class="left">
        {%include 'Components/tables.html'%}
    </section>
    <section class="right">
        <div class="reserved-seats">
            <h2>Reserved Seats:</h2>
            <ul class="seats-list">
                {% for seat in reserved_seats %}
                    <li>{{ seat }}</li>
                {% endfor %}
            </ul>
        </div>
        {% include 'Components/menu.html' %}
    </section>
</section>
</section>
{%endblock%}


{%block script%}
<script>

    

</script>
{%endblock%}

