<div class="tables-section">

    <div class="table-area" id="ta1">
        <div class="table s6" id="t1">
            <div class="chair reserved c1" id="c1">C1</div>
            <div class="chair reserved c2" id="c2">C2</div>
            <div class="chair reserved c3" id="c3">C3</div>
            <div class="chair reserved c4" id="c4">C4</div>
            <div class="chair reserved c5" id="c5">C5</div>
            <div class="chair reserved c6" id="c6">C6</div>
        </div>
    </div>


    <div class="table-area" id="ta2">
        <div class="table s2" id="t2">
            <div class="chair reserved c1" id="c7">C7</div>
            <div class="chair reserved c2" id="c8">C8</div>
        </div>
    </div>



    <div class="table-area" id="ta3">
        <div class="table s4" id="t3">
            <div class="chair reserved c1" id="c9">C9</div>
            <div class="chair reserved c2" id="c10">C10</div>
            <div class="chair reserved c3" id="c11">C11</div>
            <div class="chair reserved c4" id="c12">C12</div>
        </div>
    </div>




    <div class="table-area" id="ta4">
        <div class="table s2" id="t4">
            <div class="chair reserved c1" id="c13">C13</div>
            <div class="chair reserved c2" id="c14">C14</div>
        </div>
        <div class="table s2" id="t5">
            <div class="chair reserved c1" id="c15">C15</div>
            <div class="chair reserved c2" id="c16">C16</div>
        </div>
    </div>


    <div class="table-area" id="ta6">
        <div class="table s4" id="t6">
            <div class="chair reserved c1" id="c17">C17</div>
            <div class="chair reserved c2" id="c18">C18</div>
            <div class="chair reserved c3" id="c19">C19</div>
            <div class="chair reserved c4" id="c20">C20</div>
        </div>
    </div>





    <div class="table-area" id="ta7">
        <div class="table s2" id="t7">
            <div class="chair reserved c1" id="c21">C21</div>
            <div class="chair reserved c2" id="c22">C22</div>
        </div>
    </div>





    <div class="table-area" id="ta8">
        <div class="table s4" id="t8">
            <div class="chair reserved c1" id="c23">C23</div>
            <div class="chair reserved c2" id="c24">C24</div>
            <div class="chair reserved c3" id="c25">C25</div>
            <div class="chair reserved c4" id="c26">C26</div>
        </div>
    </div>





    <div class="table-area"id="ta9">
        <div class="table s2" id="t9">
            <div class="chair reserved c1" id="c27">C27</div>
            <div class="chair reserved c2" id="c28">C28</div>
        </div>
    </div>





    <div class="table-area" id="ta10">
        <div class="table s4" id="t10">
            <div class="chair reserved c1" id="c29">C29</div>
            <div class="chair reserved c2" id="c30">C30</div>
            <div class="chair reserved c3" id="c31">C31</div>
            <div class="chair reserved c4" id="c32">C32</div>
        </div>
    </div>




</div>


